{% extends "Season_01/base.html" %}
{% load static %}
{% block title %}首页{% endblock %}
{% block loadCss %}
    <link rel="stylesheet" href="{% static '/myCmpn/css/firstPage.css' %}">
{% endblock %}
{% block body %}
<!-- banner section -->
<section id="home" class="banner">
    <div id="banner-bg-effect" class="banner-effect"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 col-sm-12 order-lg-first mt-lg-0 mt-4">
                <h1 class="mb-4 title"><strong>Doing </strong>the right thing, <br>at the <strong>right time.</strong>
                </h1>
                <p>这是一个个人网站。<br>
                    仅供玩耍！</p>
                <div class="mt-5">
                    <a class="btn btn-primary btn-style mr-2" href="backup/B_today.html">查看排程 </a>
                    <a class="btn btn-outline btn-outline-style" href="backup/B_tmrw.html">最近行为 </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 order-first text-lg-left text-center">
                <div>
                    <img src="../../static/assets/images/M_firstPage-block01.jpg" alt="" class="rounded-circle img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

<!-- home page about -->
<section class="w3l-about">
    <div class="container">
        <div class="row about-content">
            <div class="col-lg-6 info mb-lg-0 mb-sm-5 mb-4 align-center">
                <span class="badge badge-info">日 夜 交 替</span>
                <hr><!--  style="float: left;margin-right: 10px" -->
                <h3 class="title">今天多多更新了吗</h3>
                <h6>无情的修仙妖怪</h6>
                <p class="mt-md-4 mt-3 mb-0"> 当一盏灯破碎了，它的光亮就灭于灰尘。<br>
                当天空的云散了，彩虹的辉煌随即消隐。<br>
                要是琵琶断了弦，优美的乐音归于沉寂。<br>
                要是嘴把话说完，爱的韵味很快就忘记。</p>
            </div>
            <div class="col-lg-6">
                <img style="border-radius: 10px;" src="../../static/assets/images/清晨的火灯.jpg" class="img-fluid img-shadow" alt="about">
            </div>
        </div>
    </div>
</section>
<!-- //home page about -->

<!-- home page service grids -->
<section id="services" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
        <h4 class="section-title">Next season</h4>
          <p class="text-center">关于下一季: <b>Alpha 0.2</b> 新增功能的预告。已实现的会被删除~</p>
      </div>
    </div>
    <div class="row mt-lg-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
              <img src="{% static '/assets/images/icon/firstPage_今日忙碌.png' %}" alt="">
          <h4><a href="#url">计划轮次</a></h4>
          <p>遗忘是人类的天赋。<br>
              一个计划，怎止一次迭代？</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <img src="{% static '/assets/images/icon/firstPage_明日预览.png' %}" alt="">
          <h4><a href="#url">计划冻结</a></h4>
          <p>人生本就匆匆，哪由得了你我。<br>
              计划的断链也很正常。</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <img src="{% static '/assets/images/icon/firstPage_摘星问月.png' %}" alt="">
          <h4><a href="#url">标签查找</a></h4>
          <p>为了方便以后的查询<br>预备制作~</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-industry"></span>
          </div>
          <h4><a href="#url">数据统计</a></h4>
          <p>周月年<br>让成长看得见</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-lightbulb-o"></span>
          </div>
          <h4><a href="#url">多人共享</a></h4>
          <p>只要有一个人掉队了<br>这个任务就都不算完成</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box-wrap">
          <div class="icon">
            <span class="fa fa-picture-o"></span>
          </div>
          <h4><a href="#url">特辑</a></h4>
          <p>目前只收录伊吹j...五月的图哦<br>
            未来再考虑收录更多~</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //home page service grids -->

<!-- testimonials section -->
<section id="slider" class="testimonials">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">开发者团队</h4>
                <p class="text-center"></p>
            </div>
        </div>
        <div class="large-12 columns mt-5">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="w3l-customers-7">
                        <div class="customers_sur">
                            <div class="customers-left_sur">
                                <div class="customers_grid">
                                    <div class="custo-img-res">
                                        <img style="border-radius: 50%" src="../../static/assets/images/myImg/本仙.jpg" alt=" " class="">
                                    </div>
                                    <div class="ratings my-4 my-4">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p>顺位开发者。</br>深度学习是最棒的模型没有之一</p>
                                    <div class="customers-bottom_sur">
                                        <div class="custo_grid">
                                            <h5>卷积神经网络</h5>
                                            <span>多多</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="w3l-customers-7">
                        <div class="customers_sur">
                            <div class="customers-left_sur">
                                <div class="customers_grid">
                                    <div class="custo-img-res">
                                        <img style="border-radius: 50%" src="../../static/assets/images/myImg/方铎泠.jpg" alt=" " class="img-fluid">
                                    </div>
                                    <div class="ratings my-4">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p>头像用的是蓬莱。</br>
                                        跑得快飞得高真好啊。</p>
                                    <div class="customers-bottom_sur">
                                        <div class="custo_grid">
                                            <h5>方铎泠</h5>
                                            <span>泠泠</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="w3l-customers-7">
                        <div class="customers_sur">
                            <div class="customers-left_sur">
                                <div class="customers_grid">
                                    <div class="custo-img-res">
                                        <img style="border-radius: 50%"  src="../../static/assets/images/myImg/岳清明.jpg" alt=" " class="img-fluid">
                                    </div>
                                    <div class="ratings my-4">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p>修仙的妖怪<br>不牵红线</p>
                                    <div class="customers-bottom_sur">
                                        <div class="custo_grid">
                                            <h5>岳清明</h5>
                                            <span>岳老</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="w3l-customers-7">
                        <div class="customers_sur">
                            <div class="customers-left_sur">
                                <div class="customers_grid">
                                    <div class="custo-img-res">
                                        <img style="border-radius: 50%" src="../../static/assets/images/myImg/柳浥城.jpg" alt=" " class="img-fluid">
                                    </div>
                                    <div class="ratings my-4">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p>疏狂 易水</p>
                                    <div class="customers-bottom_sur">
                                        <div class="custo_grid">
                                            <h5>柳浥城</h5>
                                            <span>侯爷</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--//testimonials section -->

<!-- stats section -->
<section id="stats" class="stats">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 margin-md-60">
                <h2 class="left-title">本 站 概 览</h2>
                <p class="white">十三段冲鸭!!</p>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-5">
                <div class="d-sm-flex justify-content-lg-around justify-content-between counter-main">

                    <div class="counter">
                        <img class="show-icon" src="../../static/assets/images/icon/firstPage_用户.png">
                        <p class="value">5</p>
                        <p class="title white">用户</p>
                    </div>
                    <div class="counter">
                        <img class="show-icon" src="../../static/assets/images/icon/firstPage_习惯.png">
                        <p class="value">10</p>
                        <p class="title white">习惯</p>
                    </div>
                    <div class="counter">
                        <img class="show-icon" src="../../static/assets/images/icon/firstPage_开发者.png">
                        <p class="value">3</p>
                        <p class="title white">开发者</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats section -->

<!-- homepage blog grids -->
<section id="blog">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">相关公告</h4>
                <p class="text-center">当前版本：Alpha 0.1</p>
            </div>
        </div>
        <div class="blog-grids row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="../../static/assets/images/缙云_拔剑.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">4 Steps To Consider Before You Start</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Johnson smith</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 16, 2020</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="../../static/assets/images/鼎湖-7.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">Strategic Plan Execution Management</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Alexander</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 19, 2020</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="../../static/assets/images/白梦泽-3.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">Business planning, strategy and execution</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Elizabeth ker</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 21, 2020</li>
                    </ul>
                </div>
            </div>
        </div><hr/>
        <a href="#" style="float: right;margin-right: 20px">更多>></a>
    </div>
</section>

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- //move top -->

<!-- javascript -->
<script src="../../static/assets/js/jquery-3.3.1.min.js"></script>

<!-- libhtbox -->
<script src="../../static/assets/js/lightbox-plus-jquery.min.js"></script>

<!-- particles -->
<script src='../../static/assets/js/particles.min.js'></script>
<script src="../../static/assets/js/script.js"></script>
<!-- //particles -->

<!-- owl carousel -->
<script src="../../static/assets/js/owl.carousel.js"></script>
<script>
  $(document).ready(function () {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      margin: 10,
      nav: true,
      loop: false,
      responsive: {
        0: {
          items: 1
        },
        767: {
          items: 2
        },
        1000: {
          items: 3
        }
      }
    })
  })
</script>

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!-- bootstrap -->
{#<script src="../../static/assets/js/bootstrap.min.js"></script>#}

{% endblock %}