{% extends 'Season_01/base_subPage.html' %}
{% load static %}
{% block title%}今日计划{% endblock %}
{% block loadCss %}
    <link rel="stylesheet" href="{% static '/myCmpn/css/today.css' %}">
    <link rel="stylesheet" href="{% static '/myCmpn/iconfont/iconfont.css' %}">
    <script src="../../static/myCmpn/js/echarts.js"></script> <!--引入echarts-->
{% endblock %}
{% block barName %}今日计划{% endblock %}




{% block else %}

<!-- about page team section -->
<section class="w3l-team-main-6">
    <!-- /team-grids -->
    <div class="team-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">






                    <!--试试这个echarts版本-->
                    <div id="planChart" style="width: 600px;height:400px;"></div>
                    <!--试试这个echarts版本-->







{#                    <h4 class="section-title">今日计划</h4>#}
                    <span style="float: left">今日进度：</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <hr/>
{#                    <p class="text-center">不要急，所有事情都会有尽头的。</p>#}
                </div>
            </div>
            <div class="row grid-col-4 text-center mt-5">

                <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">顺序</th>
      <th scope="col">任务名</th>
      <th scope="col">任务章节</th>
        <th scope="col">已复盘</th>
      <th scope="col">状态确认</th>
    </tr>
  </thead>
  <tbody>
  <!--data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"-->
  <tr id="collapse01" data-toggle="modal" data-target="#exampleModal">
      <th scope="row">0</th>
      <td>这个模块还没连到数据库</td>
      <td>阅读2</td>
        <td>0</td>
      <td>
          就位
	</td>
    </tr>
    <tr class="collapse" id="collapseExample">
              <th scope="row">详细</th>
            <td colspan="4">
             <div class="card card-body">
          aaaaaaaaaaaaaaaaaaaaaaafgaegregrfgha
              </div>
        </td>
    </tr>

    <tr id="collapse01" data-toggle="modal" data-target="#exampleModal">
      <th scope="row">1</th>
      <td>《追风筝的人》</td>
      <td>阅读2</td>
        <td>0</td>
      <td>
          就位
	</td>
    </tr>
    <tr class="collapse" id="collapseExample">
              <th scope="row">详细</th>
            <td colspan="4">
             <div class="card card-body">
          aaaaaaaaaaaaaaaaaaaaaaafgaegregrfgha
              </div>
        </td>
    </tr>



    <tr data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
      <th scope="row">2</th>
      <td>《百年孤独》</td>
      <td>阅读3</td>
        <td>0</td>
      <td><span style="color: red;"><b>正在进行</b></span></td>
    </tr>
<tr class="collapse" id="collapseExample2">
              <th scope="row">详细</th>
            <td colspan="4">
             <div class="card card-body">
          aaaaabbbbbbbbbbbbbbbbbbbbaaaaaaaaaaaaaaaaafgaegregrfgha
              </div>
        </td>
    </tr>





    <tr data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
      <th scope="row">2</th>
      <td>《欧洲史》</td>
      <td>阅读5</td>
        <td>0</td>
      <td><span style="color: black;">已完成</span></td>
    </tr>
<tr class="collapse" id="collapseExample3">
              <th scope="row">详细</th>
            <td colspan="4">
             <div class="card card-body">
          aaaaabbbbbbbbbbbbbbbbbbbbaaaaaaaaaaaaaaaaafgaegregrfgha
              </div>
        </td>
    </tr>


{#    <tr>#}
{#      <th scope="row">3</th>#}
{#      <td colspan="2">Larry the Bird</td>#}
{#      <td>@twitter</td>#}
{#    </tr>#}
  </tbody>
</table>

            </div>
        </div>
    </div>
    <!-- /team-grids -->
</section>
<!-- //about page team section -->

<!-- 模态框（Modal）,要自己手动处理遮罩层，官方的遮罩层有误 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true"
             data-backdrop = "false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">警告</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div id="tips" class="modal-body"></div>

              <div class="modal-footer">
                <button id="btn_known" onclick="known()" type="button" class="btn btn-primary" data-dismiss="modal">知道啦</button>
              </div>
            </div>
          </div>
        </div><!--模态框完毕-->


    <!-- about page section2-->
<section class="w3l-about">
    <div class="container">
        <div class="row align-items-center">
              <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">往日信笺</h4>
                  <p class="text-center">现在与未来，都在下面啦~</p>
              </div>
            </div>


        <div class="row about-content">
            <div class="col-lg-6 info mb-lg-0 mb-5 align-center">
                <span class="title">往日留言</span>
                <h6>2020.05.09</h6>
                <p class="mt-md-4 mt-3"> 这是开始这个工程的第一天<br>不知道能走到多远</p>
                <a href="#author" class="author"><span class="fa fa-user mr-2"></span>卷积神经网络</a>
            </div>
            <div class="col-lg-6">
                <img src="../../../static/assets/images/about1.png" class="img-fluid img-shadow" alt="about">
            </div>
        </div>
    </div>
</section>
<!-- //about page section2-->



<!-- about page form section -->
<section class="forms-29">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">寄未来</h4>
                <p class="text-center">愿势如破竹。</p>
            </div>
        </div>
        <div class="form-main-cont-29 mt-5">
            <div class="content-29-form d-grid">
                <form action="#" method="post">

{#                        <div class="form-group">#}
                            <span class="fa fa-envelope-open-o"></span>
                            <label class="input__label" style=""> 内容</label>
                            <div class="input-icon position-relative">
{#                                <span class="fa fa-envelope-open-o"></span>#}
                                <textarea rows="5" type="text" name="name" class="input__style" placeholder="安。所念皆如愿。" required></textarea>
{#                            </div>#}
{#                        </div>#}
                    <div class="forms-29-form">
                        <div class="form-group">
                            <label class="input__label">寄往日期</label>
                            <div class="input-icon position-relative">
                                <span class="fa fa-user-o"></span>
                                <input type="text" name="email" class="input__style"  placeholder="用空格分隔" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputTemplate" class="input__label">隐私性</label>
                            <div class="input-icon position-relative">
                                <span class="fa fa-get-pocket"></span>
                                <select id="inputTemplate" class="input__style">
                                    <option selected="">选择...</option>
                                    <option value="1" selected = "selected">公开</option> <!-- 这里容默认 -->
                                    <option>私密</option>
                                </select>
                                </div>
                        </div>

                          <button type="submit" class="btn btn-primary btn-style mt-2" style="float:left;margin-top: 32px" >寄 出</button>

                    </div></div>
                  </form>
            </div>
        </div>
    </div>
    </div>
</section>

















<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>

<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  // 关于模态框
  $("#collapse01").click(function(){


            //处理空字符关系，弹出模态框
            if( username.trim().length < 1 || pwd.trim().length < 1){
                var insertText = "请填写完整用户名和密码！";

                $('#shadow2').append('<div class="coverLayer"></div>');
                document.getElementsByClassName("tips").innerHTML = insertText;
                $('#exampleModal').modal('show');

                return false;
            }
  });


</script>
<!-- //move top -->

<!-- javascript -->
<script src="../../static/assets/js/jquery-3.3.1.min.js"></script>

<!-- libhtbox -->
<script src="../../static/assets/js/lightbox-plus-jquery.min.js"></script>

<!-- particles -->
<script src='../../static/assets/js/particles.min.js'></script>
<script src="../../static/assets/js/script.js"></script>
<!-- //particles -->

<!-- owl carousel -->
<script src="../../static/assets/js/owl.carousel.js"></script>
<script>
  $(document).ready(function () {
      var owl = $('.owl-carousel');
      owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: false,
          responsive: {
              0: {
                  items: 1
              },
              767: {
                  items: 2
              },
              1000: {
                  items: 3
              }
          }
      });

  });


</script>

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    });

    // 这里的slideToggle出现了问题。。
$('#collapse01').click(function (){
          $("#collapseExample").slideToggle();
  });
  });
</script>


<script> //echarts的图表！！

 var myChart = echarts.init(document.getElementById('planChart'));

option = {
    series: [{
        type: 'treemap',
        data: [{
            name: 'nodeA',            // First tree
            value: 10,
            children: [{
                name: 'nodeAa',       // First leaf of first tree
                value: 4
            }, {
                name: 'nodeAb',       // Second leaf of first tree
                value: 6
            }]
        }, {
            name: 'nodeB',            // Second tree
            value: 20,
            children: [{
                name: 'nodeBa',       // Son of first tree
                value: 20,
                children: [{
                    name: 'nodeBa1',  // Granson of first tree
                    value: 20
                }]
            }]
        }]
    }]
};

myChart.setOption(option);

</script>


<!-- bootstrap -->
<script src="../../static/assets/js/bootstrap.min.js"></script>

{% endblock %}