{% extends 'Season_01/base_subPage.html' %}
{% load static %}
{% load set_var %}
{% block title %}周流星位{% endblock %}
{% block loadCss %}
    <link rel="stylesheet" type="text/css" href="{% static '/assets/calendar/stylesheets/simple-calendar.css' %}">
    <script type="text/javascript" src="{% static '/assets/calendar/javascripts/simple-calendar.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/myCmpn/iconfont/iconfont.css' %}">
    <!-- libhtbox -->
    <script src="{% static '/assets/js/lightbox-plus-jquery.min.js' %}"></script>
    <!-- particles -->
    <script src="{% static '/assets/js/particles.min.js' %}"></script>
    <script src="{% static '/assets/js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/myCmpn/css/planAdd.css' %}">
    <!-- //particles -->

    <!-- owl carousel -->
    <script src="{% static '/assets/js/owl.carousel.js' %}"></script>
{% endblock %}
{% block barName %}周流星位{% endblock %}
{% block else %}
    <!--目标库存！！-->
    <section class="w3l-contact3">
{#    <div class="contact-form">#}
        <div class="container">
            <div class="contacts12-main">
                <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 mb-md-5 mb-3">
                    <h4 class="section-title">目标库存</h4>
                </div>


                <br>
                <!-- contact form -->
                <form action="https://sendmail.w3layouts.com/submitForm" method="post">

<!--原有内容-->
{#                    <div class="main-input">#}
                        <div style="float: left;width: 49%">
                            <input type="text" name="w3lName" id="w3lName" placeholder="主题" class="contact-input"
                                   required/>
                        </div>
                        <div>
                            <input id='startDate' style="float: left;width: 24%;margin-left: 15px;"
                                   type="text" placeholder="开始日期" class="contact-input">
                            <!--获取焦点后，只需要更改type = date即可！-->
                        </div>
                        <div>
                            <input id='endDate' style="float: left;width: 24%;margin-left: 15px;"
                                   type="date" value="结束日期" class="contact-input">
                        </div>
                    <textarea class="contact-textarea" name="w3lMessage" id="w3lMessage"
                              placeholder="输入详情..." required></textarea>



                    <div style="width: 15%;float: left;">
                            <select name="w3lSubject" id="w3lSubject" class="contact-input" >
                                <option value="1" selected>选择心法...</option>
                                <option value="2">相知</option>
                                <option value="3">凌海诀</option>
                            </select>
                        </div>
                    <div style="width: 15%;float: left;margin-left: 20px">
                            <select name="w3lSubject" id="w3lSubject" class="contact-input" >
                                <option value="1" selected>选择归属...</option>
                                <option value="2">云生结海</option>
                                <option value="3">澹然若海</option>
                            </select>
                        </div>

                    <!--新增尝试结束-->
                    <div class="text-right">
                        <button class="btn btn-style btn-primary">增加</button>
                    </div>
                    <hr>

                    <div style="float:left;width: 100%">
                        <a href = "#">详细设计 >></a>
                    </div><br><br>


                    <!--设计章节的布局测试-->
                    <div id='planDetail' class="col-md-6" style="width: 100%">

                        <!--询问章数-->
                        <div id = 'chapterAsk' style="width: 100%;">
                            <span style="float: left;width: 25%;margin-top: 20px"><h6>章数：</h6></span>
                                <input type="text" name="w3lName"
                                       class="contact-input" style="text-align: center;float: left;width:10%;margin-left: -200px"
                                       required/>
                                <button type="button" class="btn btn-outline-info" style="margin-left: -70px;margin-top: 15px">生成</button>

                        </div>
                        <hr>

                        <!--根据章数写入节数的内容-->
                        <!--章数指引-->
                        <nav aria-label="Page navigation example">
  <ul class="pagination" >
{#    <li class="page-item">#}
{#      <a class="page-link" href="#" aria-label="Previous">#}
{#        <span aria-hidden="true">&laquo;</span>#}
{#      </a>#}
{#    </li>#}
    <li  class="page-item active" aria-current="page"><a class="page-link" href="#">第1章</a></li>
    <li id='chapter2' class="page-item"><a class="page-link" href="#">第2章</a></li>
    <li id='chapter3' class="page-item"><a class="page-link" href="#">第3章</a></li>

{#    <li class="page-item">#}
{#      <a class="page-link" href="#" aria-label="Next">#}
{#        <span aria-hidden="true">&raquo;</span>#}
{#      </a>#}
{#    </li>#}
  </ul>
</nav><!--章数指引结束-->

                        <!--询问节数-->
{#                        <div id = 'chapterAsk' style="width: 100%;">#}
{#                            <span style="float: left;width: 25%;margin-top: 20px"><h6>节数：</h6></span>#}
{#                                <input type="text" name="w3lName"#}
{#                                       class="contact-input" style="text-align: center;float: left;width:10%;margin-left: -200px"#}
{#                                       required/>#}
{#                                <button type="button" class="btn btn-outline-info" style="margin-left: -70px;margin-top: 15px">生成</button>#}
{#                        </div><!--询问节数结束--><hr>#}

                        <div id="sectionDetail">
                        <!--询问每节的设置-->
                        <hr>
                            <!--标识每一节的内容-->
                            <div style="margin-top: 50px" class="row mobile-info-inn mx-lg-0">
                    <div class="col-lg-4 mobile-right">
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
{#                                <span class="iconfont icon-key"></span>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url" style="color: #124F8F">《红楼梦》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 58%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">58%
                                    </div>
                                </div>
                                <p>开始日期：2020-05-15<br>预计结束日期：2020-06-15</p>

                            </div>
                        </div>
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
{#                                <span class="iconfont icon-hot"></span>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url" style="color: grey;float: left"><s>《西游记》</s></a>
                                <span class="badge badge-primary" style="color: white;margin-left: 5px;float: left">已完成</span>
                                <br>
                                </h6>
{#                                <div class="progress"><!--进度条-->#}
{#                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"#}
{#                                         aria-valuemin="0" aria-valuemax="100">25%#}
{#                                    </div>#}
{#                                </div>#}
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="row mobile-right-grids">
                            <div class="col-2 mobile-right-icon">
                                <div class="mobile-icon">
{#                                    <span class="fa fa-id-badge"></span>#}
                                </div>
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">《三国演义》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
{#                    <div class="col-lg-4 mobile-left">#}
{#                        <img style="border-radius: 15px" src="../../static/assets/images/00全身.jpg" class="img-fluid"#}
{#                             alt="">#}
{#                    </div>#}

                    <!--第二列开始-->
                    <div class="col-lg-4 mobile-right">
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
{#                                <div class="mobile-icon">#}
{#                                    <span class="fa fa-css3"></span>#}
{#                                </div>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">《水浒传》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
{#                                <div class="mobile-icon">#}
{#                                    <span class="fa fa-keyboard-o"></span>#}
{#                                </div>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">《镜花缘》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="row mobile-right-grids">
                            <div class="col-2 mobile-right-icon">
{#                                <div class="mobile-icon">#}
{#                                    <span class="fa fa-recycle"></span>#}
{#                                </div>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">《本草纲目》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>



                    <!--第三列开始-->
                    <div class="col-lg-4 mobile-right">
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
{#                                <div class="mobile-icon">#}
{#                                    <span class="fa fa-css3"></span>#}
{#                                </div>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">《水浒传》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="row mobile-right-grids mb-lg-5 mb-4">
                            <div class="col-2 mobile-right-icon">
{#                                <div class="mobile-icon">#}
{#                                    <span class="fa fa-keyboard-o"></span>#}
{#                                </div>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">《镜花缘》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="row mobile-right-grids">
                            <div class="col-2 mobile-right-icon">
{#                                <div class="mobile-icon">#}
{#                                    <span class="fa fa-recycle"></span>#}
{#                                </div>#}
                            </div>
                            <div class="col-10 mobile-right-info">
                                <h6><a href="#url">《本草纲目》</a></h6>
                                <div class="progress"><!--进度条-->
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100">25%
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur
                                    adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!--第三列结束-->

                </div>
                            <!--尝试调换布局结束-->


                        </div>

<hr>
<div class="text-right" style="float: left">
                        <button class="btn btn-style btn-primary"><b>+</b></button>
                    </div>



<div class="text-right">
                        <button class="btn btn-style btn-primary">增加</button>
                    </div>



                        </div><!--设计章节的布局测试结束--></div>
                </form>
                <!-- //contact form -->
            </div>


        </div>
{#    </div>#}
    </section>
    <!-- //contact section -->



    <!--项目进度概览-->

    <!-- /mobile section --->
    <section class="w3l-mobile-content-6">
        <div class="mobile-info">
            <!-- /mobile-info-->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                        <h4 class="section-title">进度概览</h4>
                        <p class="text-center">瞎几把放图！</p>
                    </div>
                </div>

                <!--具体目标展示-->
                <ul class="list-unstyled">
                    <li class="media my-4">
                        {#      <span class="iconfont icon-apparel mr-3" style="font-size: 50px;color: #124f8f"></span>#}
{#                        <img src="{% static "assets/images/icon/作战.png" %}" style="width: 50px" class="mr-3">#}
                        <span style="font-size: 35px;margin-right: 20px">1 - 1</span>
                        <div class="media-body">
                            <div style="width:100%;float: left">
                                <span style="float: left"><h4 class="mt-0 mb-1">第一章</h4></span>
                                <span class="badge badge-primary" style="color: white;margin-left: 5px">即将开始</span>
                            </div>
                            <div style="width: 100%">
                                <span style="float: left">神仙打架，笨比遭殃<br>无论上不上，都出去玩几个月</span>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li class="media my-4">
{#                        <span class="iconfont icon-arrow-lift mr-3" style="font-size: 50px;color: #124f8f"></span>#}
                        <span style="font-size: 35px;margin-right: 20px">1 - 2</span>
                        <div class="media-body">
                            <div class="media-body">
                                <div style="width:100%;float: left">
                                    <span style="float: left"><h4 class="mt-0 mb-1">第二节</h4></span>
                                    <span class="badge badge-dark" style="color: white;margin-left: 5px">准备就绪</span>
                                </div>
                                <div style="width: 100%">
                                    <span style="float: left">我的老天鹅啊。<br>明天千万不要抽到编译原理</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li class="media my-4">
                        <span class="iconfont icon-code mr-3" style="font-size: 50px;color: #124f8f"></span>
                        <div class="media-body">
                            <div style="width:100%;float: left">
                                <span style="float: left"><h4 class="mt-0 mb-1">物化天行</h4></span>
                                {#            <span class="badge badge-dark" style="color: white;margin-left: 5px">准备就绪</span>#}
                            </div>
                            <div style="width: 100%">
                                <span style="float: left">我的老天鹅啊。<br>改下个人网站冷静下。</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--现存目标展示完毕-->







                </div>
            </div>
            <!-- //mobile-info-->
        </div>
    </section>
    <!--项目进度概览，结束-->




    <!-- move top -->
    <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>

    <!--一个日期转换函数-->
    <script>
    function timeFormat(time) {
    var d = new Date(time);

    var year = d.getFullYear();       //年
    var month = d.getMonth() + 1;     //月
    var day = d.getDate();            //日

    var hh = d.getHours();            //时
    var mm = d.getMinutes();          //分
    var ss = d.getSeconds();           //秒

    var clock = year + "/";
    if (month < 10) clock += "0";
    clock += month + "/";
    if (day < 10) clock += "0";
    clock += day + " ";
    if (hh < 10) clock += "0";
    clock += hh + ":";
    if (mm < 10) clock += '0';
    clock += mm + ":";
    if (ss < 10) clock += '0';
    clock += ss;

    return (clock);
}
    </script>


    <!--1.引入日历-->
    <script>
        var myCalendar = new SimpleCalendar('#container');
        var a = myCalendar.getSelectedDay();
        var shower = document.getElementById('selected_day_shower');
        var date = a.getFullYear() + ' - ' + a.getMonth() + ' - ' + a.getDate();
        shower.innerHTML = '' + date;
        $("#container").click(function () {
            // a.getDay():获得0~6,表示周几。
            //a.getDate():获得的是0~31，表示日期。不包括月份。
            //a.getFullYear():输出2020
            //a.getMonth()+1 : 当前月份。2020 - 05 - 13
            var slt = myCalendar.getSelectedDay();
            var year = slt.getFullYear();
            var month = slt.getMonth() + 1;
            var day = slt.getDate();
            date = year + ' - ' + month + ' - ' + day;
            shower.innerHTML = '' + date;


            //然后ajax向后台询问具体数据，放到门面上。
            $.ajax({
                url: "/plan/daySwitch",
                type: 'post',
                dataType: "text",
                data: {
                    r_year: year,
                    r_month: month,
                    r_day: day,
                },
                beforeSend: function (xhr, setting) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                },
                success: function (result) {
                    var pJson = jQuery.parseJSON(result);
                    var dataLength = (Object.getOwnPropertyNames(pJson).length)-1;
                    {#alert('dataLength:'+dataLength);#}
                    var datetime = pJson[0]['fields']['datetime'];
                    alert('这是从后端返回的时间!:' + datetime);
                    alert('规格化后：'+timeFormat(datetime));
                    {#alert('这是result:'+result);#}

                },
                error: function (ret) {
                        alert('提交失败！')
                    }
                })
        })
    </script>
    <!--引入日历·结束-->

    <!--2.返回顶部按钮-->
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!--3.标题栏设置-->
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    767: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        })
    </script>



    <!--动态生成复习REVIEW内容-->
    <script>
        // 实现动态添加数据库里的任务，动态id，并加入监听slideDown
        // 使用后台传过来的数据添加组件，并动态生成id
        {% with i=1 %}
            {% for var in yesterday %}
                var htmlDetail = '<li id="task_' + '{{ i }}' + '" class="getid collapseFirst list-group-item list-group-item-action d-flex justify-content-between\n' +
                    '      btn btn-link btn-block text-left" data-toggle="collapse" href="#task_' + '{{ i }}' + '_detail" aria-expanded="false" aria-controls="task_' + '{{ i }}' + '_detail"' +
                    '           style = "background-color:#FFEEEE">\n' +
                    '                                    <b>{{ i }}. <span>{{ var.pj_name }}</span>'+'' +
                    '                                       &nbsp;&nbsp;{{ var.chapter }}-{{ var.section }}</b>'+'' +
                    '                                       <span style="margin-left: -70px">{{ var.title }}</span>\n' +
                    '                           <span class="badge badge-primary badge-pill" style="color: white;padding-top: 6px">{{ var.review_times }}</span>\n' +
                    '                                </li>\n' +
                    '                                <!--卡片开始-->\n' +
                    '                                <div id = "task_' + '{{ i }}' + '_detail" class=" collapseOne collapse show" style="display: none"' +
                    '                        aria-labelledby="headingOne" data-parent="#task_' + '{{ i }}' + '">\n' +
                    '                                    <div id="timeDistribute" style="margin-top: 5px;margin-left: 20px">\n' +
                    '                                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref"\n' +
                    '                                               style="float: left;margin-top: 10px">预分配时间</label>\n' +
                    '                                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref"\n' +
                    '                                                style="float: left;width: 120px">\n' +
                    '                                            <option value="0">0小时</option>\n' +
                    '                                            <option value="1" selected>1小时</option>\n' +
                    '                                            <option value="2">2小时</option>\n' +
                    '                                            <option value="3">3小时</option>\n' +
                    '                                        </select>\n' +
                    '                                        <input class="form-control mx-sm-3" style="float: left;width: 120px;margin-top: 3px"\n' +
                    '                                               placeholder="不填也没关系">\n' +
                    '                                        <label for="inputPassword6" style="margin-top: 9px">分钟</label>\n' +
                    '                                    </div>\n' +
                    '                                    <div class="card-body">\n' +
                    '                                               {{ var.detail }}' +'<hr/>'+''+
                    '                                    </div>\n' +
                    '\n' +
                    '                                </div><!--卡片完结-->';
                    // 增加一个预设时间与实际花费时间对比
                    var prcsInstruct = '';



                $('#task_show').append(htmlDetail);
                {% set i++ %}
            {% endfor %}
        {% endwith %}

        //后面就是，获取点击的元素的id，slideToggle展示对应的详细信息
        obj = document.querySelectorAll('.getid');
        for (x = 0; x < obj.length; x++) {
            obj[x].onclick = function (e) {
                var target_id = this.id;
                pointCard_id = '#' + target_id + '_detail';
                $(pointCard_id).slideToggle();
            };

        }
    </script>


    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

{% endblock %}