<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}
    base_nvbar
    {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <script type="text/javascript" src="{% static '/myCmpn/js/jquery-3.5.0.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static '/myCmpn/js/bootstrap.js' %}"></script>#}

    <link rel="stylesheet" href="{% static '/myCmpn/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style-starter.css' %}">
    <link rel = "stylesheet" href="{% static '/myCmpn/css/base.css' %}">
    {% block loadCss %}{% endblock %}
</head>
<body>

{% block nvbar %}
<header id="site-header" class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="backup/B_index.html">
          杯酒寸心
      </a>
      <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'user_private:firstPage' %}">首页 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_private:today' %}">today</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'plan:pickStar' %}">月度汇总</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'deliberate:dlbr_detail' %}">日省吾身</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">骚话大全</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'plan:planAdd' %}">周流星位</a>
              </li>
          </ul>
          <ul class="navbar-nav">
          <!-- django会自己多管闲事传request.user进来，不需要我们思考 -->
              {% if user.is_authenticated %}
                  <img style="border-radius: 25px;width: 50px;height: 50px;" src="../../static/{{ user.user_img }}" alt="">
{#                <span style="color: white;margin-top: 12px;margin-left: 15px;margin-right: 30px">{{ user.username }}</span>#}
                  <ul class="pin_username">
                        <li id="info_name">{{ user.username }}
                            <ul>
                                <a href="#"><li>个人中心</li></a>
                                <a href="#"><li>bug提交</li></a>
                                <a href="{% url 'user_private:logout' %}"><li>注销用户</li></a>
                            </ul>
                        </li>
                  </ul>

              {% else %}
                  <img style="border-radius: 25px;width: 50px;height: 50px" src="{% static 'assets/images/icon/bar_unknow用户.png' %}">
                  <a style="color: white;margin-top: 12px;margin-left: 15px;margin-right: 30px" href="{% url 'user_private:login' %}">请登录</a>
              {% endif %}
          </ul>
      </div>
  </nav>
</header>
<!-- //site header -->
{% endblock %}


{% block body %}
    {% block cumbar %}{% endblock %}
{% endblock %}


{% block footer %}
<footer id="site-footer">
  <div class="top-footer">
    <div class="container my-md-5 my-4">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-logo mb-3">
            <a href="backup/B_index.html">
              杯酒寸心
            </a>
          </div>
          <div>
            <p class="">敛欲静气，行践一心</p>
          </div>
        </div>
        <!-- Quick Links -->
        <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
          <h4 class="footer-title">Quick Links</h4>
          <ul class="footer-list">
            <li><a href="{% url 'user_private:today' %}"> TODAY</a></li>
            <li><a href="{% url 'user_private:register' %}"> 注册页面</a></li>
            <li><a href="{% url 'plan:pickStar' %}"> 月度汇总</a></li>
            <li><a href="#"> 骚话大全</a></li>
          </ul>
        </div>
        <!-- Newsletter -->
        <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
          <h4 class="footer-title">Newsletter</h4>
          <p class="mb-4">By subscribing to our mailing list you will always be updated with the latest news from us.
          </p>
          <form class="newsletter-form">
            <input class="input-rounded" type="text" required="" placeholder="Enter Email Address">
            <button type="submit" title="Subscribe" class="btn btn-primary btn-style" name="submit" value="Submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-lg-left text-center mb-lg-0 mb-3">
          <p class="copyright">Copyright &copy; 2020  卷积神经网络  All rights reserved.</p>
        </div>
        <div class="col-lg-4 align-center text-lg-right text-center">
          <a href="#facebook" class="social-item"><span class="fa fa-facebook-f"></span></a>
          <a href="#twitter" class="social-item"><span class="fa fa-twitter"></span></a>
          <a href="#linkedin" class="social-item"><span class="fa fa-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

</body>
</html>