<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="../../static/myCmpn/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/myCmpn/css/login.css">
     <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../static/myCmpn/js/jquery-3.5.0.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../static/myCmpn/js/bootstrap.min.js"></script>
</head>
<body>
<div id = shadow>
    <!--login字体-->
    <b id = "loginSetting">Login</b>

    <form >
        <div class="shadow p-3 mb-5 bg-white rounded" >
      <div class="form-group">
        <label for="exampleInputEmail1"><b>用户名</b></label>
        <input name="username" class="form-control" id="exampleInputEmail1" placeholder="少动凡心多读书">
        <small id="emailHelp" class="form-text text-muted">让我看看是哪个小可爱又来找我玩了</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><b>密码</b></label>
        <input name = "pwd" type="password" class="form-control" id="exampleInputPassword1" placeholder="多写算法早睡觉">
      </div>

      <!--两个复选框-->
      <div class="form-check" >
        <div id="select01">
        <input name="remember" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">记住密码</label>
       </div>
        <div id = "select02">
            <input name="auto_login" type="checkbox" class="form-check-input" id="exampleCheck2">
            <label class="form-check-label" for="exampleCheck1">自动登录</label>
        </div>
       </div>

      <!--提交按钮 -->
      <button type="button" id="sub_btn" class="btn btn-primary"
      data-toggle="modal" data-target="#exampleModal">登&nbsp;&nbsp;录</button>
<!-- value="登&nbsp;&nbsp;录"-->

              <!---->
            <a href="user/register">
                <span style="float: left;margin-top: -20px">没有账号？去注册>></span>
            </a>
    </div>
    </form>
</div>
<!--版权信息-->

<!-- 模态框（Modal）,要自己手动处理遮罩层，官方的遮罩层有误 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true"
             data-backdrop = "false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">警告</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div id="tips" class="modal-body"></div>

              <div class="modal-footer">
                <button id="btn_known" onclick="known()" type="button" class="btn btn-primary" data-dismiss="modal">知道啦</button>
              </div>
            </div>
          </div>
        </div><!--模态框完毕-->



<footer>
　　© 卷积神经网络 版权所有<br />
</footer>
</body>

<!--登录信息·JS处理-->
<script type="text/javascript">
    // 【普及】多用click~
    // onclick：给元素绑定一种行为
    // click：在onclick行为后追加动作。只要执行了，就会触发onclick动作
        $("#sub_btn").click(function(){
            var username = document.getElementsByName("username")[0].value;
            var pwd = document.getElementsByName("pwd")[0].value;

            //处理空字符关系，弹出模态框
            if( username.trim().length < 1 || pwd.trim().length < 1){
                var insertText = "请填写完整用户名和密码！";
                // $('#exampleModal').append("<div class='data-backdrop modal fade in id='customizeBackdrop'></div>");
                $('#shadow').append('<div class="coverLayer"></div>');
                document.getElementById("tips").innerHTML = insertText;
                $('#exampleModal').modal('show');

                // $('#btn_known').onclick(function () {
                // $('#customizeBackdrop').remove()
            // });
                return false;
            }

            //如果name和pwd都有写
            else{
                $.ajax({
                    url : "/user/firstPage",
                    type : 'post',
                    dataType : "text",
                    data : {
                        username : username,
                        pwd : pwd
                    },
                    beforeSend: function (xhr, setting) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                     },
                    success : function(result) {
                        //记得要parseJSON,血泪教训
                        var pJson = jQuery.parseJSON(result);
                        if(pJson.status === "错误" ){
                            var insertText2 = "用户名或密码输入错误！";
                            document.getElementById("tips").innerHTML = insertText2;
                            $('#exampleModal').modal('show');
                        }else if(pJson.status === "redirect" ){
                            window.location = '/user/firstPage';
                        }
                        else{
                            alert('虽然成功，但是好像并没有返回什么，result:',result)
                        }
                    },
                    error :function (ret) {
                        alert('提交失败！')
                    }
                })
	        }
        }
        )//end-func

    //其它小功能================================================================================
    function known() { // 遮罩层消除
        $('.coverLayer').remove();
    }
</script>
</html>